<div class="app-content">
    <div class="container">
      <div class="app-card">
        <h4>{{selectedPost.title}}</h4>
        <span>{{selectedPost.publish_date | date }} | {{selectedPost.author}}</span>
        <div class="post-content" [innerHTML]="selectedPost.content"></div>
        <div class="comment-container" >
          <img src="../../../assets/icons/comment.svg" alt="Comments"><span *ngIf="postComments.length !== 0"> {{numberOfComments}}</span>
          <form #addComment="ngForm" class="comment-form" (ngSubmit)="submitComment(addComment)">
            <input type="text" minlength="2" required class="form-control"  #comment="ngModel" ngModel name="comment"  placeholder="Add a comment...">
            <button type="submit" [disabled]="!addComment.valid" class="app-button"><img src="../../../assets/icons/send.svg" alt="send"></button>
          </form>
          <div class="comments clearfix" *ngFor="let comment of postComments  | sort: 'date'">
            <div class="comment-div">
              <span>{{comment.user}} | {{comment.date | date}} : </span>
              <p>{{comment.comment}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>