@import './styles/homepage';
@import './styles/postDetails';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
html,
body{
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    color: $text-colour !important
}

.app-content{
    margin-top: 100px;
}
.app-button{
    background: transparent;
    border: none;
}